@model GearNet.Entities.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Student Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd data-testid="userName" class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd data-testid="firstName" class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd data-testid="lastName" class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
    </dl>
</div>
<div>
    <a data-testid="editStudent" asp-action="Edit" asp-route-id="@Model?.StudentId" class="btn btn-primary">Edit</a>
    <a data-testid="backList" asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
