@model IEnumerable<GearNet.Entities.Student>

@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-color: rgba(255, 255, 255, 1); /* Adjust the alpha (0.5) for the desired opacity */
        }

        div {
            padding: 5px;
        }

        .tableForm {
            background-color: rgba(255, 255, 255, .90); /* Adjust the alpha (0.5) for the desired opacity */
        }

        .dropbtn {
            background-color: #3498DB;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

            .dropbtn:hover, .dropbtn:focus {
                background-color: #2980B9;
            }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            overflow: auto;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 2;
            right: 0; /* Align with the right side of the button */
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

        .dropdown a:hover {
            background-color: #115d39;
        }

        /* Add this CSS to your existing styles */
        #arrowIcon {
            display: inline-block;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid #fff; /* Set the color of the arrow to match your button's background */
            margin-left: 5px; /* Adjust the margin to position the arrow correctly */
            transition: transform 0.3s; /* Add a smooth transition for the arrow icon */
        }

        .dropbtn.active #arrowIcon {
            transform: rotate(180deg); /* Rotate the arrow 180 degrees when active */
        }

        .show {
            display: block;
        }

        table {
            background-color: rgba(255, 255, 255, 0); /* Adjust the alpha (0.5) for the desired opacity */
        }

        .table-container {
            padding-top: 0;
            max-height: calc(100vh - 200px); /* Adjust the height as needed */
            overflow-y: auto;
            position: relative;
        }

        .table thead {
            position: sticky;
            top: 0;
            background-color: #fff;
            z-index: 1;
        }

        /* Add this CSS to cover the bold bar */
        .table thead {
            background-color: #fff; /* Set background color to match header background */
        }

    </style>
</head>
<body>
    <div class="tableForm">
        <form method="get" asp-action="Index">
            <div class="row" style="width: 100%; flex-wrap: nowrap">
                <div class="col-7" style="margin-right: 5px;">
                    <div class="form-group">
                        <h1>Students</h1>
                    </div>
                </div>
                <div class="col-5" style="display: flex; justify-content: flex-end;">
                    <div class="dropdown" style="margin-left: auto;">
                        <div style="display: flex">
                            <a data-testid="createStudent" asp-action="Create" class="btn btn-success" style="margin-right: 10px;">Create New</a>
                            <button data-testid="searchStudent" id="dropdownButton" class="dropbtn" style="border-radius: 0.25rem; padding: 7.5px">
                                Search <span id="arrowIcon"></span>
                            </button>
                        </div>
                        <div id="myDropdown" class="dropdown-content" style="padding: 10px; width: 250px">
                            @if (ViewData.ContainsKey("userName"))
                            {
                                <div style="margin-bottom: 10px;">
                                    Username: <input data-testid="searchUsername" type="text" name="userName" class="form-control" placeholder="Username..." value="@ViewData["userName"]" />
                                </div>
                            }
                            else
                            {
                                <div style="margin-bottom: 10px;">
                                    Username: <input data-testid="searchUsername" type="text" name="userName" class="form-control" placeholder="Username..." />
                                </div>
                            }
                            @if (ViewData.ContainsKey("firstName"))
                            {
                                <div style="margin-bottom: 10px;">
                                    First Name: <input data-testid="searchFirstName" type="text" name="firstName" class="form-control" placeholder="First Name..." value="@ViewData["firstName"]" />
                                </div>

                            }
                            else
                            {
                                <div style="margin-bottom: 10px;">
                                    First Name: <input data-testid="searchFirstName" type="text" name="firstName" class="form-control" placeholder="First Name..." />
                                </div>
                            }
                            @if (ViewData.ContainsKey("lastName"))
                            {
                                <div style="margin-bottom: 10px;">
                                    Last Name: <input data-testid="searchLastName" type="text" name="lastName" class="form-control" placeholder="Last Name..." value="@ViewData["lastName"]" />
                                </div>
                            }
                            else
                            {
                                <div style="margin-bottom: 10px;">
                                    Last Name: <input data-testid="searchLastName" type="text" name="lastName" class="form-control" placeholder="Last Name..." />
                                </div>
                            }

                            <button data-testid="searchStudentList" type="submit" class="btn btn-primary btn-block" style="margin-top: 10px;">Search</button>
                            <button data-testid="resetSearch" type="submit" class="btn btn-secondary btn-block" onclick="clearSearch()" style="margin-top: 10px;">Reset</button>

                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div style="height: 620px; overflow-y: auto; margin-bottom: 0rem">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Username)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LastName)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int rowIndex = 1;
                    }
                    @foreach (var item in Model)
                    {
                        <tr data-testid="studentListRow-@rowIndex">
                            <td data-testid="listUsername">
                                @Html.DisplayFor(modelItem => item.Username)
                            </td>
                            <td data-testid="listFirstName">
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td data-testid="listLastName">
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                <a data-testid="edit-@item.StudentId" asp-action="Edit" asp-route-id="@item.StudentId"
                                   class="btn btn-primary">Edit</a>
                                <a data-testid="details-@item.StudentId" asp-action="Details" asp-route-id="@item.StudentId"
                                   class="btn btn-secondary">Details</a>
                                <a data-testid="delete-@item.StudentId" asp-action="Delete" asp-route-id="@item.StudentId"
                                   class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <nav aria-label="Page navigation example">
            <ul id="pagination" class="pagination">
                <!-- Pagination links will be dynamically generated here -->
            </ul>
        </nav>
    </div>

    <script>
        var searchValues = {};
        document.getElementById("dropdownButton").addEventListener("click", function (event) {
            event.preventDefault();
            toggleDropdown();
        });

        function toggleDropdown() {
            var dropdown = document.getElementById("myDropdown");
            var button = document.getElementById("dropdownButton");

            if (dropdown.classList.contains("show")) {
                dropdown.classList.remove("show");
                button.classList.remove("active");
            } else {
                dropdown.classList.add("show");
                button.classList.add("active");
            }
        }

        function clearSearch() {
            document.querySelector('input[name="userName"]').value = "";
            document.querySelector('input[name="firstName"]').value = "";
            document.querySelector('input[name="lastName"]').value = "";
        }
    </script>

</body>
</html>
@section scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        // Initialize pagination
        $(document).ready(function () {
            var rows = $('tbody').find('tr');
            var pageSize = 10;
            var pageCount = Math.ceil(rows.length / pageSize);

            var paginationContainer = $('#pagination');

            // Pagination links
            for (var i = 1; i <= pageCount; i++) {
                var li = $('<li></li>').addClass('page-item').attr('data-page', i);
                var link = $('<a></a>').addClass('page-link').text(i);

                li.append(link);
                paginationContainer.append(li);
            }

            // Add active class to the first page link
            paginationContainer.find('.page-item:first-child').addClass('active');

            // Function to handle pagination
            paginationContainer.on('click', '.page-item', function () {
                var pageNumber = parseInt($(this).attr('data-page'));
                var start = pageSize * (pageNumber - 1);
                var end = start + pageSize;

                rows.hide().slice(start, end).show();

                // Remove active class from all pagination links
                paginationContainer.find('.page-item').removeClass('active');
                // Add active class to the selected pagination link
                $(this).addClass('active');
            });

            // Show only the first page initially
            paginationContainer.find('.page-item:first-child').click();
        });
    </script>
}
