@model GearNet.Entities.Device

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Device</h1>

<h5>Are you sure you want to delete this device?</h5>
<div>
    <hr />
    <dl class="flex-column">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeviceName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeviceType)
        </dd>
        <dt class="col-sm-2">
            Checked Out
            @* @Html.DisplayNameFor(model => model.IsCheckedOut) *@
        </dt>
        <dd class="col-sm-10">
            @Model.IsCheckedOut.ToString()
        </dd>
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DeviceId" />
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>

<style>
    .flex-column {
        display: flex;
        flex-direction: column;
        padding: 2.5px;
    }
</style>