@model GearNet.Entities.Device

@{
    ViewData["Title"] = "Details";
}

<h1>Device Details</h1>

<div>
    <hr />
    <dl class="flex-column">

        <div class="form-group">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DeviceName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DeviceName)
            </dd>
        </div>
        <div class="form-group">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DeviceType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DeviceType)
            </dd>
        </div>
        <div class="form-group">
            <dt class="col-sm-2">
                Checked Out
                @* @Html.DisplayNameFor(model => model.IsCheckedOut) *@
            </dt>
            <dd class="col-sm-10">
                @Model.IsCheckedOut.ToString()
            </dd>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model?.DeviceId" class="btn btn-primary">Edit</a>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </dl>
</div>


<style>
    .flex-column {
        display: flex;
        flex-direction: column;
        padding: 2.5px;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        padding: 2.5px;
    }

    .form-group dd {
        padding: 3.5px 0;
    }

</style>