@model IEnumerable<GearNet.Entities.Device>

@{
    ViewData["Title"] = "Index";
}

<form method="get" asp-action="Index">
    <div class="row">
        <div class="col-7" style="margin-right: 5px;">
            <div class="form-group">
                <h1>Devices</h1>
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <input type="text" name="searchString" class="form-control" placeholder="Search by Device Type" />
            </div>
        </div>
        <div class="col-1">
            <button type="submit" class="btn btn-primary btn-block">Search</button>
        </div>
    </div>
</form>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeviceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeviceType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RackRow)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RackCol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCheckedOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Case.CaseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.StudentId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RackRow)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RackCol)
            </td>
            <td>
                @item.IsCheckedOut.ToString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Case.CaseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.StudentId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DeviceId"
                   class="btn btn-primary">Edit</a>
                <a asp-action="Details" asp-route-id="@item.DeviceId"
                   class="btn btn-secondary">Details</a>
                <a asp-action="Delete" asp-route-id="@item.DeviceId"
                   class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
